<div class="timesheet_container">
  <div class="group_container" *ngIf="hoursEvents.length">
    <div class="title_box">
      <mat-icon>access_time</mat-icon>
      <p class="title">Hours</p>
      <p class="workhours">
        ({{ firstTaskStart | date: "HH:mm" }} -
        {{ lastTaskEnd | date: "HH:mm" }})
      </p>
    </div>

    <div class="content_box">
      <table>
        <tr>
          <th class="th1" class="left">Type</th>
          <th class="right">Duration</th>
        </tr>
        <tr *ngFor="let event of hoursEvents">
          <td class="left">{{ event.eventTypeName }}</td>
          <td class="right">{{ event.quantity | numberToTime }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="group_container" *ngIf="expenseEvents.length">
    <div class="title_box">
      <mat-icon>attach_money</mat-icon>
      <p>Expenses</p>
    </div>

    <div class="content_box">
      <table>
        <tr>
          <th class="th1" class="left">Type</th>
          <th class="th2" class="right">Quantity</th>
          <th class="th2" class="right">Total</th>
        </tr>
        <tr *ngFor="let event of expenseEvents">
          <td class="left">{{ event.eventTypeName }}</td>
          <td class="right">{{ event.quantity }}</td>
          <td class="right">{{ event.price * event.quantity }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="group_container" *ngIf="additionalHoursEvents.length">
    <div class="title_box">
      <mat-icon>more_time</mat-icon>
      <p>Additional hours</p>
    </div>

    <div>
      <table>
        <tr>
          <th class="th1" class="left">Type</th>
          <th class="right">Amount</th>
        </tr>
        <tr *ngFor="let event of additionalHoursEvents">
          <td class="left">{{ event.eventTypeName }}</td>
          <td class="right">{{ event.quantity }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
