<div class="cal_day_wrapper">
  <p class="weekday" [class.noTask]="dotColor === 'noDot'">
    {{ day | date: "EEE" }}
  </p>

  <div
    class="date_wrapper"
    [class.noTask]="dotColor === 'noDot'"
    [class.currentDay]="currentDay"
    [class.selectedDay]="selectedDay"
  >
    <p class="date">
      {{ day | date: "d" }}
    </p>
  </div>

  <p class="hours">{{ hoursString }}</p>

  <div class="dot_container">
    <span
      class="dot"
      [class.redDot]="dotColor === 'red'"
      [class.greenDot]="dotColor === 'green'"
      [class.greyDot]="dotColor === 'grey'"
      [class.noDot]="dotColor === 'noDot'"
    >
    </span>
  </div>
</div>
